NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173
CLIENT_URLS=http://localhost:5173
SESSION_SECRET=change_this_secret

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=saba_chips_db

MAILTRAP_HOST=live.smtp.mailtrap.io
MAILTRAP_PORT=587
MAILTRAP_USER=api
MAILTRAP_PASS=
MAIL_FROM=no-reply@sabachips.com

GROQ_API_KEY=
